
body {
    font-family: 'Poppins';font-size: 11px;
}

  #dataTable {
    width: 100%;
    border-collapse: collapse;
  }

  #dataTable th,
  #dataTable td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  #dataTable tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  #dataTable th {
    background-color: #333;
    color: #ffffff;
  }

  @media only screen and (max-width: 700px) {
    #dataTable {
      border: 0;
    }

    #dataTable th,
    #dataTable td {
      border: 0;
      border-bottom: 1px solid #dddddd;
      padding: 5px;
    }

    #dataTable th {
      display: none;
    }

    #dataTable tr td:first-child {
      width: 40%;
      font-weight: bold;
    }

    #dataTable tr td:last-child {
      width: 60%;
    }
  }
  #pagination {margin-top: 0.5em}
  
  .edit {background-color: #0275d8; border-radius:10px; padding: 0.5em; color: #fff; text-decoration: none; font-size: 11px;}
  
  .delete {background-color: #d9534f; border-radius:10px; padding: 0.5em; color: #fff; text-decoration: none; font-size: 11px;}