<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Authentq </title>
   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <style>
      .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .btn-group {
        display: flex;
        flex-direction: column;
      }

      .btn-group a {
        margin-top: 10px; /* Adjust the value to your desired spacing */
      }
    </style>

<script type="module">
import  { setIsAuthenticated, setUser, getIsAuthenticated, getUser } from '../authState.js';

const authStatus = getIsAuthenticated(); 
alert(authStatus);


</script>



</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3 id="form-title">Log In</h3>
                    </div>
                    <div class="card-body">
                        <!-- SIGN UP / LOGIN FORMS -->
                        <!-- Login form visible by default -->
                        <form id="login-form" class="mb-3">
                            <div class="mb-3">
                                <label for="login-email" class="form-label">Email</label>
                                <input type="email" id="login-email" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label for="login-password" class="form-label">Password</label>
                                <input type="password" id="login-password" class="form-control">
                            </div>
                            <div class="mb-3">
                                <div class="form-check">
                                    <input type="checkbox" id="login-remember" class="form-check-input">
                                    <label for="login-remember" class="form-check-label">Remember me</label>
                                </div>
                            </div>
                            <div class="mb-3">
                                <button type="submit" class="btn btn-primary">Login</button>
                            </div>
                            <!-- CTA for signup -->
                            <div class="mb-3">
                                <a href="javascript:void(0)" id="show-signup-form">Don't have an account yet? Sign up</a>
                            </div>

<div class="mb-3 btn-group">
<a href="/auth/google" class="btn btn-outline-secondary"><i class="bi bi-google"></i> Sign in with Google</a>
<a href="/auth/facebook" class="btn btn-outline-secondary"><i class="bi bi-facebook"></i> Sign in with Facebook</a>
<a href="/auth/github" class="btn btn-outline-secondary"><i class="bi bi-github"></i> Sign in with GitHub</a>
<a href="/auth/twitter" class="btn btn-outline-secondary"><i class="bi bi-twitter-x"></i> Sign in with Twitter</a>
<a href="/auth/linkedin" class="btn btn-outline-secondary"><i class="bi bi-linkedin"></i> Sign in with LinkedIn</a>
</div>


                        </form>
                        <!-- Signup form hidden initially -->
                        <form id="signup-form" style="display: none;">
                            <div class="mb-3">
                                <label for="signup-email" class="form-label">Email</label>
                                <input type="email" id="signup-email" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label for="signup-password" class="form-label">Password</label>
                                <input type="password" id="signup-password" class="form-control">
                            </div>
                            <div class="mb-3">
                                <div class="form-check">
                                    <input type="checkbox" id="signup-remember" class="form-check-input">
                                    <label for="signup-remember" class="form-check-label">Remember me</label>
                                </div>
                            </div>
                            <div class="mb-3">
                                <button type="submit" class="btn btn-primary">Sign Up</button>
                            </div>
                            <!-- CTA for login -->
                            <div class="mb-3">
                                <a href="javascript:void(0)" id="show-login-form">Already have an account? Login</a>
                            </div>

<div class="mb-3 btn-group">
<a href="/auth/google" class="btn btn-outline-secondary"><i class="bi bi-google"></i> Sign in with Google</a>
<a href="/auth/facebook" class="btn btn-outline-secondary"><i class="bi bi-facebook"></i> Sign in with Facebook</a>
<a href="/auth/github" class="btn btn-outline-secondary"><i class="bi bi-github"></i> Sign in with GitHub</a>
<a href="/auth/twitter" class="btn btn-outline-secondary"><i class="bi bi-twitter-x"></i> Sign in with Twitter</a>
<a href="/auth/linkedin" class="btn btn-outline-secondary"><i class="bi bi-linkedin"></i> Sign in with LinkedIn</a>
</div>

                        </form>
                        <!-- END OF SIGN IN / SIGN UP FORMS --> 
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Show signup form when 'Sign up' CTA is clicked
            document.getElementById('show-signup-form').addEventListener('click', function() {
                document.getElementById('login-form').style.display = 'none';
                document.getElementById('signup-form').style.display = 'block';

			document.getElementById('form-title').innerText = 'Sign Up';

            });

            // Show login form when 'Already have an account? Login' CTA is clicked
            document.getElementById('show-login-form').addEventListener('click', function() {
                document.getElementById('login-form').style.display = 'block';
                document.getElementById('signup-form').style.display = 'none';

               document.getElementById('form-title').innerText = 'Log In';

            });
        });
    </script>
</body>
</html>
